body {
  background-size: cover;      
   background-repeat: no-repeat;
   background-color: rgb(90, 92, 94);
}

ul {

    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.header {
     padding: 20px 0;
     
}
.container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 200px; 

}

.header__social img{
    width: 25px;
}

.nav__list {
    font-size: 25px;
}

.header .container  {
    display: flex;                  
    justify-content: flex-end;   
    align-items: center;             
    gap: 100px;
}

.nav__list {
    display: flex;    
    gap: 30px;         
    margin: 0;
    padding: 0;
}


.hero {
    font-size: 40px; 
     width: 100px;
     margin: 150px;
     padding: 90px;
}

.hero__title {
    display: inline-block;
    animation-name: slideUp;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.hero__subtitle {
    font-size: 20px;
    display: inline-block;
    animation-name: slideRight;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes slideLeft {
    from { transform: translateX(300%); }
    to   { transform: translateX(0); }
}

@keyframes slideRight {
    from { transform: translateX(-300%); }
    to   { transform: translateX(0); }
}

@keyframes slideUp {
    from { transform: translateY(300%); }
    to   { transform: translateY(0); }
}

@keyframes slideDown {
    from { transform: translateY(-300%); }
    to   { transform: translateY(0); }
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: -900px;
     margin-left: 900px;
    max-width: 800px;
}

.gallery__img {
    width: 250px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.gallery__img:hover {
    transform: scale(1.3);
}




